*/CMakeLists.txt
*/.idea
*/cmake-build-debug
*.exe
*.o
/CMakeLists.txt
CMakeLists.txt
/.idea
.idea
/cmake-build-debug
cmake-build-debug
*.s
*.gcno
.gcno
*.gcda
*.gcov
*.map
*.MAP
*.obj
*.OBJ
*.OVL

*.TR
*.TD